**Попробуем предсказать пол по комментарию**

In [ ]:
import pandas as pd

In [2]:
df = pd.read_csv('/kaggle/input/boston-airbnb-reviews-a-comprehensive-overview/reviews.csv')

In [3]:
df

,index,listing_id,id,date,reviewer_id,reviewer_name,comments
0,0,3781,37776825,2015-07-10,36059247,Greg,The apartment was as advertised and Frank was ...
1,1,3781,41842494,2015-08-09,10459388,Tai,It was a pleasure to stay at Frank's place. Th...
2,2,3781,45282151,2015-09-01,12264652,Damien,The apartment description is entirely faithful...
3,3,3781,49022647,2015-09-30,41426327,Mike,Thoroughly enjoyed my time at Frank's home. Ha...
4,4,3781,52503327,2015-10-30,15151513,Ivan,Great value for the money! This location has e...
...,...,...,...,...,...,...,...
199101,199101,31374081,400552895,2019-01-12,4093695,Timothy,So happy we found this place ! The apartment i...
199102,199102,31413814,400030354,2019-01-10,40055332,Jess,The host canceled this reservation 200 days be...
199103,199103,31438747,400592065,2019-01-12,97668758,Renee,Charming room in a great location and coordina...
199104,199104,31574139,401651821,2019-01-15,1927797,Rob,The host canceled this reservation 85 days bef...
199105,199105,31574139,401652028,2019-01-15,26498479,Pia,The host canceled this reservation 120 days be...

**Нас интересуют колонки "reviewer_name" и "comments"**

In [5]:
df = df[['reviewer_name', 'comments']]
df = df[df['reviewer_name'].notna()]
df.dropna(inplace=True)

In [6]:
df

       reviewer_name                                           comments
0               Greg  The apartment was as advertised and Frank was ...
1                Tai  It was a pleasure to stay at Frank's place. Th...
2             Damien  The apartment description is entirely faithful...
3               Mike  Thoroughly enjoyed my time at Frank's home. Ha...
4               Ivan  Great value for the money! This location has e...
...              ...                                                ...
199101       Timothy  So happy we found this place ! The apartment i...
199102          Jess  The host canceled this reservation 200 days be...
199103         Renee  Charming room in a great location and coordina...
199104           Rob  The host canceled this reservation 85 days bef...
199105           Pia  The host canceled this reservation 120 days be...

[199023 rows x 2 columns]

In [9]:
df.reviewer_name.value_counts().head(40)

Michael      1863
David        1758
John         1507
Sarah        1295
Chris        1120
Jennifer     1048
Daniel        985
Andrew        943
Jessica       933
Laura         923
Emily         904
Mark          904
James         844
Matthew       796
Alex          774
Paul          764
Kevin         760
Brian         759
Ryan          747
Lisa          727
Matt          693
Rachel        685
Mike          683
Jason         682
Lauren        676
Robert        675
Michelle      675
Amanda        672
Stephanie     672
Elizabeth     660
Amy           653
Eric          636
Mary          625
Peter         609
Katie         593
Thomas        593
Susan         574
Julie         571
Nicole        561
Patrick       559
Name: reviewer_name, dtype: int64

**Отберем по 10 популярных мужских и женских имен, и трансформируем их в признак мужчина/женщина**

In [11]:
male = ['Michael', 'David', 'John', 'Chris', 'Daniel', 'Andrew', 'Mark', 'James', 'Matthew', 'Alex']
female = ['Sarah', 'Jennifer', 'Jessica', 'Laura', 'Emily', 'Lisa', 'Rachel', 'Amanda', 'Elizabeth', 'Katie']
names = male + female

In [12]:
df['gender'] = df.reviewer_name.apply(lambda x: 'male' if x in male else 'female')
df = df[df.reviewer_name.isin(names)]
df = df[['comments', 'gender']]
dfmale = df.loc[df.gender == 'male']
dffemale = df.loc[df.gender == 'female']
dfmale = dfmale.sample(8440) # Сбалансируем данные
dfx = pd.concat([dfmale, dffemale])

In [13]:
dfx

                                                 comments  gender
44808   The place was extremely well kept and spacious...    male
187384                   comfortable bed, and nice shower    male
136884  This Sonder appartement is faithful to the pic...    male
46076   Frank's apartment is a spacious, modern and we...    male
50512   Ahmed's was great! it was just what I needed f...    male
...                                                   ...     ...
198976  Nice clean place, great location near aquarium...  female
199005  Matthew’s place was very cozy and conveniently...  female
199009          Good, basic apartment close to hospitals.  female
199015  After spending a long day traveling we got in ...  female
199046  The entire apartment had a stench that came fr...  female

[16880 rows x 2 columns]

In [56]:
dfx.to_csv('genderbased_v2.csv')